<app-hero></app-hero>

<section class="contenedor-principal">
  <h2 class="titulo-seccion">Tendencias del Momento (Estrenos 2026)</h2>
  
  <div class="grid-peliculas">
    <app-movie-card 
      title="Michael" 
      year="2026" 
      rating="9.6" 
      imageUrl="img/Michael.jpg"
      description="El fenómeno cinematográfico del año. Una mirada profunda y honesta al legado, los triunfos y las controversias del Rey del Pop.">
    </app-movie-card>

    <app-movie-card 
      title="Mickey 17" 
      year="2025" 
      rating="8.9" 
      imageUrl="img/mike.jpg"
      description="Tras su éxito el año pasado, sigue siendo tendencia la historia del 'prescindible' en una misión de colonización helada.">
    </app-movie-card>

    <app-movie-card 
      title="Beyond the Spider-Verse" 
      year="2026" 
      rating="9.8" 
      imageUrl="img/spider.jpg"
      description="La épica conclusión de la trilogía de Miles Morales que ha roto récords de taquilla en los últimos meses.">
    </app-movie-card>

    <app-movie-card 
      title="Super Mario Bros 2" 
      year="2026" 
      rating="9.1" 
      imageUrl="img/mario.jpg"
      description="El reciente estreno que ha dominado las salas familiares, expandiendo el universo de Nintendo con la llegada de Yoshi.">
    </app-movie-card>

    <app-movie-card 
      title="Project Hail Mary" 
      year="2026" 
      rating="9.3" 
      imageUrl="img/hail.jpg"
      description="Recién llegada a plataformas digitales, la odisea científica para salvar el sol se mantiene en lo más alto de las listas.">
    </app-movie-card>

    <app-movie-card 
      title="Superman" 
      year="2025" 
      rating="8.7" 
      imageUrl="img/superman.jpg"
      description="El inicio del nuevo universo de DC sigue sumando visualizaciones gracias a su reciente llegada al streaming.">
    </app-movie-card>

    <app-movie-card 
      title="Moana 2" 
      year="2025" 
      rating="8.5" 
      imageUrl="img/moana.jpg"
      description="Un clásico instantáneo desde finales del año pasado que continúa siendo de lo más buscado por los usuarios.">
    </app-movie-card>

    <app-movie-card 
      title="Avatar: Fire and Ash" 
      year="2025" 
      rating="9.0" 
      imageUrl="img/avatar.jpg"
      description="La tercera entrega de la saga de Pandora sigue impactando por su despliegue visual tras su estreno mundial.">
    </app-movie-card>
  </div>
</section>